form {
    margin: 200px auto;
    display: block;
    width: 300px;

    box-shadow: none;
}

label {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
}

input {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    font-size: 1em;
    box-sizing: border-box;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

input.erro {
    border-color: #bb0000;
}

input.valido {
    border-color: #009900;
}

.erro-text {
    display: none;
    font-family: "IBM Plex Mono";
    font-size: 0.875rem;
    color: #bb0000;
}

.erro-text.ativar {
    display: block;
}
